<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FotoBlog</title>
</head>
<body>
    <h1>FotoBlog</h1>
    {% block content %}
    
    {% endblock %}

    {% if user.is_authenticated %}
        <p>Vous êtes connecté en tant que {{ request.user }}</p>
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Se Déconnecter</button>
    </form>
     <p>Voulez-vous <a href="{% url 'password_change' %}">changer votre mot de passe ? </a></p>
    {% endif %}
</body>
</html>